* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
html {
  font-size: 16px;
}
table, th, td{
  border: 1px solid;
  width: 100%;
}

.app {
  width: 90%;
  min-height: 90vh;
  margin: 5px auto;
}

.wrapper {
 display:flex;
 min-height: 80vh;
}

.sidebar {
  width: fit-content;
}

/* .list-container {
  flex-grow: 2;
}  */

/* table {
  width: 100%;
  border-collapse:collapse;
} */
table, th, td {
  border: 1px solid;
}

.layout div {
  background-color: blue;
  min-width: 5%!important;
}
.days-container {
  display: flex;
  width: fit-content;
}
.days {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height:280px;
  padding-top: 10px;

}
.days p {
  background-color: aqua;
  height: 30px;
}

.blue-highlight {
  background-color:aqua;
}
.black-highlight {
  background-color: #000000;
  color: #ffffff;
}
.dusty-blue-highlight {
  background-color: #60affe;
}
.forest-green-highlight {
  background-color: #006616;
  color: #ffffff;
}
.black-green-highlight {
  background-color: #002107;
  color: #ffffff;
}
/* HEADER */
.header {
  align-items: center;
  font-family: Open Sans;
  font-size: 2em;
  justify-content: center;
  padding: 0 0 0 25%;
  width: 90%;
}
/* FOOTER */
.footer {
  align-items: center;
  font-size: 1em;
  display: flex;
  font-family: Open Sans;
  justify-content: center;
  padding: 0 0 0 20%;
  width: 90%;
}
.github {
  width: 5%;
}
.link a {
  color: #000000;
  font-size: 2em;
  text-decoration: none;
}
input[type=checkbox] {
  height: 30px;
  margin: 0 0 0 1%;
  width: 30px;
}