* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.app {
  /* border: 1px solid black; */
  width: 90%;
  min-height: 90vh;
  margin: 5px auto;
}

.wrapper {
 display:flex;
 min-height: 80vh;
}

.sidebar {
  width: fit-content;
}

.list-container {
  flex-grow: 2;
}

table {
  width: 100%;
  border-collapse:collapse;
}
table, th, td {
  border: 1px solid;
}

