* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

table, th, td{
  border: 1px solid;
  width: 100%;
}

.app {
  border: 1px solid black;
  width: 90%;
  min-height: 90vh;
  margin: 5px auto;
}

.blue-highlight {
  color:aqua;
}